# Tests to run on each push to master.
name: tests
on: [push, pull_request]

jobs:

  test:
    name: Run 'cargo test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true
      - uses: actions/checkout@v3
      - uses: actions-rs/cargo@v1
        with:
          command: test

  docs:
    name: Run 'cargo doc'
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true
      - uses: actions/checkout@v3
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --document-private-items
